* {
    margin: 0;
    user-select: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #e1e3ea;
    min-height: 100vh;
    /* visibility: collapse; */
    font-family: sans-serif;
}

.app {
    width: 60%;
}

@media (max-width:768px) {
    .app {
        width: 90vw;
    }
}

.app h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    background-color: #9c061a;
    font-family: sans-serif;
}

.app form {
    display: flex;
    width: 100%;
    background-color: #04b99b;
}

.app form input {
    border: none;
    background-color: #31606d;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

.app form button {
    border: none;
    color: white;
    background-color: #1dd2af;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
}

.app ul {
    list-style: none;
    color: #e0e0e0;
    padding: 0;
}

.app ul li {
    padding: 10px;
    background: #262e4c;
    border-bottom: 1px solid #3a4674;
}

.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
}

.check:checked {
    background-color: #1dd2af;
}

.task {
    font-size: 18px;
    padding: 0 10px;
    width: 50vw;
    background: transparent;
    border: none;
    color: #fff;
}

.task:focus {
    outline: none;
}

.app ul li i {
    float: right;
    cursor: pointer;
}

.app ul li i:hover {
    color: rgb(255, 82, 82);
}

.completed {
    /* background: linear-gradient(90deg, green, rgba(12, 236, 0, 0.97) 35%, rgb(0, 255, 191) 100%); */
    color: rgba(192, 192, 192, 0.8);
    text-decoration: line-through;
}

.del:hover {
    transition: 0.2s ease;
    transform: scale(1.2);
}

.mark {
    margin-right: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: radial-gradient(red, rgba(236, 0, 0, 0.904) 35%, rgb(255, 0, 0) 100%);
}

.mark:hover {
    transition: 0.4s ease-in;
    transform: scale(1.2);
    background: linear-gradient();
    background: linear-gradient(red, rgba(236, 0, 0, 0.904) 35%, rgb(255, 0, 0) 100%);
}

#un {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: solid 2px;
    background-color: #e1e3ea;
    font-family: sans-serif;
}

#un form input {
    border: none;
    background-color: #31606d;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

#un form input:hover {
    border: solid 0.1px black;
    transition: 0.5s;
    background-color: #04b99b
}

#un form button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1dd2af;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
    height: 42px;
    width: auto;
}

#un form button:hover {
    transition: 0.61s;
    background-color: brown;
}

#name {
    text-align: center;
    margin: 2px;
    font-family: cursive;
    padding: 10px;
    background-color: #9c061a;
    border-radius: 10px;
}
